################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SMS_TYNB/.env
/SMS_TYNB/bin
/SMS_TYNB/Migrations
/SMS_TYNB/obj
/SMS_TYNB/wwwroot/upload
