################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VnptSmsBrandName/.env
/VnptSmsBrandName/bin
/VnptSmsBrandName/Migrations
/VnptSmsBrandName/obj
/VnptSmsBrandName/wwwroot/upload
/VnptSmsBrandName/obj
