@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="card border border-secondary rounded p-4" style="width: 400px">
    <h1 class="text-center mb-4"><img src="~/images/logo_large_vnpt.png" style="height: 150px; width:auto;"/></h1>
    <form id="account" method="post">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Tên đăng nhập" />
            <label asp-for="Input.Username" class="form-label">Tên đăng nhập</label>
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Mật khẩu" />
            <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <div class="d-flex align-items-center">
                <div class="form-floating mb-3">
                    <input id="captchaInput"
                           name="CaptchaCode"
                           type="text"
                           class="form-control me-2"
                           placeholder="Captcha"
                           style="width: 180px;" />
                    <label for="captchaInput" class="fw-bold">Captcha</label>
                </div>

                <canvas id="captchaCanvas"
                        width="100"
                        height="56"
                        class="border border-secondary border-opacity-50 rounded me-2 opacity-75"
                        style="flex-shrink: 0; margin-top: -13px;"></canvas>

                <button type="button"
                        class="btn btn-outline-secondary border-opacity-50 d-flex align-items-center justify-content-center flex-shrink-0"
                        style="width: 56px; height: 56px; padding: 0; margin-top: -13px;"
                        onclick="generateCaptcha()"
                        aria-label="Refresh captcha">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                        <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.8 6.8 0 0 0 1.16 8z" />
                        <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324z" />
                    </svg>
                </button>
            </div>

            <span id="captcha-error" class="text-danger mt-1 d-block"></span>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" asp-for="Input.RememberMe" />
            <label asp-for="Input.RememberMe" class="form-check-label">
                Nhớ tài khoản
            </label>
        </div>

        <div class="d-grid mb-3">
            <button id="login-submit" type="submit" class="btn btn-primary btn-lg">Đăng nhập</button>
        </div>

        <div class="text-center">
            <p class="mb-2">
                <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
            </p>
            @* <p class="mb-2">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký tài khoản mới</a>
            </p>
            <p class="mb-0">
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Gửi lại email xác nhận</a>
            </p> *@
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        let captchaText = "";
        hideElement("captcha-error");

        function generateCaptcha() {
            const canvas = document.getElementById("captchaCanvas");
            const ctx = canvas.getContext('2d');
            canvas.width = 100;
            canvas.height = 56;
            const chars = '0123456789';
            captchaText = Array.from({ length: 4 },
                () => chars.charAt(Math.floor(Math.random() * chars.length))
            ).join('');

            if (ctx) {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.fillStyle = '#f3f3f3';
                ctx.fillRect(0, 0, canvas.width, canvas.height);

                ctx.font = '30px Arial';
                ctx.fillStyle = '#089';
                ctx.fillText(captchaText, 16, 37);

                for (let i = 0; i < 5; i++) {
                    ctx.beginPath();
                    ctx.moveTo(Math.random() * canvas.width, Math.random() * canvas.height);
                    ctx.lineTo(Math.random() * canvas.width, Math.random() * canvas.height);
                    ctx.strokeStyle = 'rgba(0, 0, 0, 0.5)';
                    ctx.stroke();
                }
            }
        }

        document.getElementById("login-submit")
            .addEventListener("click", function (e) {
                const userCaptcha = document.getElementById("captchaInput")
                                          .value.toUpperCase();
                if (userCaptcha !== captchaText) {
                    e.preventDefault();
                    document.getElementById("captcha-error").innerText = "Captcha không chính xác!";
                    showElement("captcha-error");
                }
            });

        window.onload = generateCaptcha;

        function hideElement(id) {
            document.getElementById(id).style.visibility = "hidden";
        }
        function showElement(id) {
            document.getElementById(id).style.visibility = "visible";
        }
    </script>
}
