<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMS_TYNB</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SMS_TYNB.styles.css" asp-append-version="true" />
	<link href="~/lib/alertifyjs/css/alertify.css" rel="stylesheet" />
	<link href="~/lib/alertifyjs/css/alertify.min.css" rel="stylesheet" />
	<link href="~/lib/alertifyjs/css/alertify.rtl.css" rel="stylesheet" />
	<link href="~/lib/alertifyjs/css/alertify.rtl.min.css" rel="stylesheet" />
	<link href="~/lib/jstree/themes/default/style.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container-fluid d-flex justify-content-center align-items-center w-100 p-0" style="height: 100vh;" id="container-identity">
		@RenderBody()
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jstree/jstree.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/alertifyjs/alertify.js"></script>
	<script src="~/lib/alertifyjs/alertify.min.js"></script>
	<script src="~/js/common.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
