
.home-container .nav-card {
    background-color: #f8f9fa;
    border-radius: 5px;
    height: 150px;
    width: 100%;
    text-decoration: none;
    color: #515151;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

    .home-container .nav-card:hover {
        background-color: #f0f0f0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        color: #515151;
    }

    .home-container .nav-card i {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

.home-container .nav-card-text {
    font-size: 30px;
}

.home-container .container-custom {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
