@model SMS_TYNB.ViewModel.WpSmsSearchViewModel
@{
	ViewBag.Title = "Thống kê tin nhắn";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="container-fluid">
		<form id="searchByDateForm">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="form-group mb-3">
						<label for="dateFrom" class="form-label">Từ ngày <span class="text-danger">*</span></label>
						<input type="date"
							   class="form-control form-control-sm"
							   name="dateFrom"
							   id="dateFrom"
							   value="@DateTime.Now.ToString("yyyy-MM-dd")" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group mb-3">
						<label for="dateTo" class="form-label">Đến ngày <span class="text-danger">*</span></label>
						<input type="date"
							   class="form-control form-control-sm"
							   name="dateTo"
							   id="dateTo"
							   value="@DateTime.Now.ToString("yyyy-MM-dd")" />
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4 d-grid justify-content-center">
					<button type="button" class="btn btn-primary" id="btnSearchByDate" style="width: 200px">Tìm kiếm</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row">
		<div class="d-flex justify-content-end m-2">
			<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-text">
						<i class="bi bi-search"></i>
					</span>
					<input type="text" class="form-control" id="searchInput" placeholder="Tìm kiếm theo nội dung...">
				</div>
			</div>
		</div>
		@* danh sách *@
		<table class="table table-bordered" id="messaegStatisticalTable">
			<thead class="table-primary text-white">
				<tr>
					<th class="text-center">STT</th>
					<th width="20%">Nội dung</th>
					<th width="15%">Danh sách cán bộ</th>
					<th width="20%">File đính kèm</th>
					<th>Người gửi</th>
					<th>Ngày gửi</th>
					<th>Số tin nhắn đã gửi</th>
					<th>Số tin nhắn gửi lỗi</th>
				</tr>
			</thead>
			<tbody id="messaegStatisticalTableBody">
			</tbody>
		</table>
	</div>
	@{
		await Html.RenderPartialAsync("_Pagination");
	}
</div>
@* file upload modal *@
<div class="modal fade" id="editFileModal" tabindex="-1" aria-labelledby="editFileModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editFileModalLabel">
					Tải lại file đính kèm
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				@using (Html.BeginForm("", "", FormMethod.Post, new { id = "updateFileModalForm" }))
				{
					<div class="mb-3">
						<label for="newFileInput" class="form-label">Chọn file mới</label>
						<input type="file" class="form-control" name="newFileInput" id="newFileInput">
					</div>
				}
            </div>
            <div class="modal-footer">
				<button type="button" id="updateFileModalFormBtn" class="btn btn-primary">
                    Upload
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Hủy
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
	<script src="~/js/message/message-statistical.js?v=@DateTime.Now.Ticks"></script>
}