@model VnptSmsBrandName.ViewModel.BaseFormViewModel<VnptSmsBrandName.Models.Master.SmsConfig>
@{
	ViewBag.Title = "Quản lý SMS Config";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
	<div class="row">
		<div class="card shadow-sm mb-4 p-0">
			<div class="card-header bg-primary text-white">
				<h5 class="card-title mb-0">
					Quản lý SMS Config
				</h5>
			</div>
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-md-8 mb-3 mb-md-0">
						<div class="btn-group me-2" role="group">
							<button type="button" id="btnAdd" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#data-form" onclick="beforeAdd()">
								<i class="bi bi-plus-circle me-1"></i>
								Thêm
							</button>
						</div>
					</div>
					<div class="col-md-4">
						<div class="input-group">
							<span class="input-group-text">
								<i class="bi bi-search"></i>
							</span>
							<input type="text" class="form-control" id="searchInput" placeholder="Tìm kiếm theo labelId, api user...">
						</div>
					</div>
				</div>
			</div>
		</div>
		@* danh sách *@
		<div class="table-responsive">
			<table class="table table-bordered" id="smsConfigTable">
				<thead class="table-primary text-white">
					<tr>
						<th class="text-center">STT</th>
						<th>LabelId</th>
						<th>ContractId</th>
						<th>TemplateId</th>
						<th>IsTelCoSub</th>
						<th>AgentId</th>
						<th>ApiUser</th>
						<th>ApiPass</th>
						<th>UserName</th>
						<th>DataCoding</th>
						<th>SaleOrderId</th>
						<th>PakageId</th>
						<th>UrlSms</th>
						<th>Domain</th>
						<th>Người tạo</th>
						<th>Thời gian tạo</th>
						<th>Trạng thái</th>
						<th class="text-center">Thao tác</th>
					</tr>
				</thead>
				<tbody id="smsConfigTableBody">
				</tbody>
			</table>
		</div>
	</div>
	@{
		await Html.RenderPartialAsync("_Pagination");
	}
</div>

<!-- Modal -->
<div class="modal fade" id="data-form" tabindex="-1" aria-labelledby="dataFormLabel" aria-hidden="true">
	@{
		await Html.RenderPartialAsync("_Form", Model);
	}
</div>

@section Scripts {
	<script src="~/js/sms-config/sms-config.js?v=@DateTime.Now.Ticks"></script>
}