@page
@* @model ForgotPasswordConfirmation *@
@{
    ViewData["Title"] = "Đã gửi mail xác nhận";
    Layout = "/Views/Shared/_LayoutIdentity.cshtml";
}

<div class="card border border-secondary rounded p-4" style="width: 600px">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}