@page
@* @model ForgotPasswordConfirmation *@
@{
    ViewData["Title"] = "Reset thành công";
    Layout = "/Views/Shared/_LayoutIdentity.cshtml";
}

<div class="card border border-secondary rounded p-4" style="width: 600px">
    <div class="container-fluid d-grid justify-content-start">
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>
        <a asp-page="./Login" asp-route-returnUrl="">Đăng nhập ngay</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}