@model SMS_TYNB.ViewModel.BaseFormViewModel<SMS_TYNB.Models.Master.WpCanbo>
@{
	ViewBag.Title = "Quản lý liên hệ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="row">
		<div class="card p-0">
			<div class="card-header bg-primary text-white">
				<h4 class="mb-0">Quản lý liên hệ</h4>
			</div>
			@* form *@
			<div id="data-form">
				@{
					await Html.RenderPartialAsync("_Form", Model);
				}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="d-flex justify-content-end m-2">
			<label for="searchInput" class="form-label me-2 mb-0">Tìm kiếm:</label>
			<input type="text" class="form-control form-control-sm" id="searchInput" style="width: 200px;">
		</div>
		@* danh sách *@
		<table class="table table-bordered" id="contactTable">
			<thead>
				<tr>
					<th class="text-center">STT</th>
					<th>Tên cán bộ</th>
					<th>Số điện thoại</th>
					<th>Giới tính</th>
					<th>Mô tả</th>
				</tr>
			</thead>
			<tbody id="contactTableBody">
			</tbody>
		</table>
	</div>
	@{
		await Html.RenderPartialAsync("_Pagination");
	}
</div>

@section Scripts {
	<script src="~/js/contract/contract.js"></script>
}